/* CSS file to match JSX file - Footer */

/* background-color as Dark Teal or Bog */
/* font "color" as Off-white / Eggshell */
.footer  {
  background-color: #133E3A; 
  color: #F7F6F2; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}